<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DateBase.Properties.Settings.GeoConnectionString"
            connectionString="Data Source=DESKTOP-BBNOHC4\SQLEXPRESS;Initial Catalog=Geo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>